bin/
lib/
include/
man/
/res/
/model/
/performances/
/pred/
/summary/
/graph/
/mturk/
etc/
share/
src/.ipynb_checkpoints/
src/temp
*.tar.gz
*.ipynb
pip-selfcheck.json
.Python
*.log
__pycache__
archived_env/
.vscode/
.idea/
pyvenv.cfg
